---
import SkillList from '@components/collection/SkillList.astro';
import Hero from '@components/layout/Hero.astro';
import Section from '@components/layout/Section.astro';
import Education from '@components/pages/cv/Education.astro';
import Experience from '@components/pages/cv/Experience.astro';
import Project from '@components/pages/cv/Project.astro';
import Link from '@components/shared/Link.astro';
import MailButton from '@components/shared/MailButton.astro';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { fullname, role, socials } from 'src/site.config';

const experiences = await getCollection('experience');
const education = await getCollection('education');
const projects = await getCollection('projects');
---

<Layout 
    title="fwatt | CV"
    description="Fraser Watt's Curriculum Vitae, a simplified one page summary of skills, experience, education and projects.">
	<Hero title={fullname}  subtitle={role} socials>
		<MailButton><u>Mail</u></MailButton>
		<Link url={socials.linkedin} icon="ri:linkedin-box-fill" type="external">LinkedIn</Link>
		<Link url={socials.github} icon="ri:github-fill" type="external">GitHub</Link>
	</Hero>

    <Section title="Skills">
        <SkillList></SkillList>
    </Section>

	<Section title="Experience">
		{experiences.map(e => <Experience entry={e}></Experience>)}
	</Section>

    <Section title="Education">
		{
            education
                .sort((a, b) => a.data.endDate.valueOf() > b.data.endDate.valueOf() ? -1 : 1)
                .map(e => <Education entry={e}></Education>)
        }
	</Section>

    <Section title="Projects">
        <div class="projects">
            {
                projects
                    .filter(i => !i.data.hidden)
                    .sort((a, b) => a.data.startDate.valueOf() > b.data.startDate.valueOf() ? -1 : 1)
                    .slice(0, 9)
                    .map(e => <Project entry={e}></Project>)
            }
        </div>

	</Section>

    <Section title="About">
        <p class="about-paragraph">
            I am a full stack developer looking to take the next step in 
			my career and further advance my skills in the industry. I hope to contribute 
			to new or existing projects with a team of like-minded individuals. 
			I also hope to provide value to projects by applying my skills and 
			dedicating time to improve my capabilities both technically and professionally.
        </p>
    </Section>
</Layout>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .about-paragraph {
        text-align: justify;
    }
</style>
