---
import Carousel from "@components/carousel/Carousel.astro";
import Heading from "@components/heading/Heading.astro";
import Link from "@components/Link.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const items = await getCollection('projects');

    return items
        .filter(i => !i.data.hidden)
        .map(entry => ({
            params: { slug: entry.slug },
            props: { entry },
        }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Projects | ${entry.data.name}`} description={entry.data.blurb}>
    <Heading underline>{entry.data.name}</Heading>

    {entry.data.images && <Carousel items={entry.data.images}></Carousel>}

    {entry.data.links && 
        <section class="links">
            {entry.data.links.live && <Link target={entry.data.links.live} type="external" btn>Visit Website</Link>}
            {entry.data.links.demo && <Link target={entry.data.links.demo} type="external" btn>Demo</Link>}
            {entry.data.links.source && <Link target={entry.data.links.source} type="external" btn>Source</Link>}
            {entry.data.links.additional?.map(link => <Link {...link}></Link>)}
        </section>
    }
    
    <Content></Content>
</Layout>

<style>
    .links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>
