---
import Banner from '@components/layout/Banner.astro';
import Footer from '@components/layout/Footer.astro';
import Head from '@components/layout/Head.astro';
import Header from '@components/layout/Header.astro';
import Toaster from '@components/shared/toast/Toaster.astro';
import type { ComponentProps } from 'astro/types';
import { navigation } from 'src/site.config';

interface Props extends ComponentProps<typeof Head> {
	banner?: string;
	footer?: boolean;
	header?: boolean;
	flex?: boolean;
}

const { title, description, image, og, banner, header, footer, flex } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={title} description={description} image={image} og={og}></Head>
	</head>

	<body>
		{banner && <Banner>{banner}</Banner>}
		{header !== false && <Header navItems={navigation}>fwatt.dev</Header>}
		{header !== false && <hr/>}
		<main class:list={{ flex: flex }}><slot /></main>
		{footer !== false && <Footer></Footer>}
	</body>

	<Toaster></Toaster>
</html>

<style is:global>
	:root {
		/* theme */
		color-scheme: dark;

		--text-color: #eaf2f5;
		--highlight-text-color: #d0d2d4;
		
		--primary-color: #27537e;
		--secondary-color: #1d8cb4;
		--accent-color: #7192b2;
		--background-color: #141d28;

		--d-white-color: var(--white-color);
		--d-white-color-rgb: var(--white-color-rgb);

		--d-black-color: var(--black-color);
		--d-black-color-rgb: var(--black-color-rgb);

		--white-color: #fff;
		--white-color-rgb: 255, 255, 255;

		--black-color: #000;		
		--black-color-rgb: 0, 0, 0;

		/* font */
		--default-font-size: 100%; /* 16px */
		--h1-font-size: 4.210rem; /* 67.36px */
		--h2-font-size: 3.158rem; /* 50.56px */
		--h3-font-size: 2.369rem; /* 37.92px */
		--h4-font-size: 1.777rem; /* 28.48px */
		--h5-font-size: 1.333rem; /* 21.28px */
		--small-font-size: 0.750rem; /* 12px */

		/* border */
		--b-radius: 3px;

		@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

		body {			
			display: flex;
			flex-direction: column;
			min-height: 100vh;

			background-color: var(--background-color);
		}

		.flex { flex: 1; }

		h1, h2, h3, h4, h5 {
			font-family: 'Inter', Arial, sans-serif;
			font-weight: 700;
		}


		html { font-size: var(--default-font-size); }
		h1 { font-size: var(--h1-font-size); }
		h2 { font-size: var(--h2-font-size); }
		h3 { font-size: var(--h3-font-size); }
		h4 { font-size: var(--h4-font-size); }
		h5 { font-size: var(--h5-font-size); }
		small { font-size: var(--small-font-size); }
		
		header, footer, main {
			width: 100%;
			max-width: 58rem;
			margin-left: auto;
			margin-right: auto;
		}

		hr {
			color: var(--secondary-color);
			border-color: var(--secondary-color);
			background-color: var(--secondary-color);
		}

		main {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 2rem;
		}

		ul {
			padding-inline-start: 1.2rem;

			li { padding-bottom: 0.25rem; }
    		li:last-child { padding-bottom: 0; }
		}

		@media only screen and (max-width: 768px) {
			--h1-font-size: 3.410rem;
			--h2-font-size: 3.158rem;
		}

		@media only screen and (max-width: 450px) {
			--h1-font-size: 2.6rem;
			--h2-font-size: 2.2rem;
			--h3-font-size: 2rem;
		}
	}

    .anchor-head {
        position: relative;

        &:hover {
            a { opacity: 1; }
        }
        
        .anchor-link {
            padding: .5rem;
            display: inline-flex;
            position: absolute;
            top: 50%;
            left: calc(-1rem + -16px);
            margin: auto;
            text-decoration: none;
            color: var(--secondary-color);
            transform: translateY(calc(-50% - 0.3rem));
            opacity: 0;

            &:focus { opacity: 1; }
        }
    }

	@layer reset {
		*, :before, :after {
			box-sizing: border-box;
			margin: 0;
			padding: 0;

			font-family: 'Inter', Arial, sans-serif;
			font-weight: 400;
		}
	}

	[data-theme="light"] {
		color-scheme: light;

		/* --secondary-color: #1d8cb4;
		--primary-color: #27537e; */

		--text-color: #0a1215;
		--highlight-text-color: #0a1215b0;

		--primary-color: #90CAF9;
		--secondary-color: #1E88E5;		
		--accent-color: #4d6e8f;
		--background-color: rgb(245,245,245);

		--d-white-color: var(--black-color);
		--d-white-color-rgb: var(--black-color-rgb);

		--d-black-color: var(--white-color);
		--d-black-color-rgb: var(--white-color-rgb);
	}
</style>
